@{
    ViewBag.Title = "Thêm mới sản phẩm";
}<div class="ui-breadcrumbs">
    <a href="/admin/product">
        <span class="ui-breadcrumb__item"> < Quay lại danh sách sản phẩm </span>
    </a>
</div>
<div class="row" v-if="product">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <h4 class="card-title">@ViewBag.Title</h4>
            <div class="card-body">
                <form class="forms-sample" id="operator-form">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label for="user-name" class="col-sm-3 col-form-label">Tên sản phẩm</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="user-name" v-model="operator.UserName" required :disabled="isEdit">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="full-name" class="col-sm-3 col-form-label">Mã sản phẩm</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="full-name" v-model="operator.FullName" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">Giá sản phẩm</label>
                                <div class="col-sm-9">
                                    <p>Giá nhập vào</p>
                                    <input type="email" class="form-control" id="email" v-model="operator.Email" required>
                                    <p>Giá bán lẻ </p>
                                    <input type="email" class="form-control" id="email" v-model="operator.Email" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">Phân loại</label>
                                <div class="col-sm-9">
                                    <p>Loại sản phẩm</p>
                                    <input type="number" class="form-control" id="phone" v-model="operator.Phone">
                                    <p>Nhãn hiệu</p>
                                    <input type="number" class="form-control" id="phone" v-model="operator.Phone">
                                    <p>Màu sắc</p>
                                    <input type="number" class="form-control" id="phone" v-model="operator.Phone">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Trạng thái</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="exampleFormControlFile1" class="col-sm-3 col-form-label">Ảnh sản phẩm</label>
                                <div class="col-sm-9">
                                    <input type="file" class="form-control" id="exampleFormControlFile1">
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <error-list :errors="errors"></error-list>
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <button type="button" v-on:click="onClickUpdate" class="btn btn-primary btn-sm">
                                        Lưu thay đổi
                                    </button>
                                    <button type="button" @@click="onClickBtnGotoList" class="btn btn-light btn-icon-prepend btn-sm">
                                        <i class="fa fa-arrow-left"></i>
                                        Trở lại danh sách
                                    </button>
                                    <button type="button" v-on:click="onClickAddNew" class="btn btn-light btn-icon-prepend btn-sm" v-if="operator.OperatorId!==0">
                                        <i class="fa fa-plus"></i>
                                        Tạo mới
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>



</div>
@section Scripts{
    <script src="~/js/services/populate.service.js" asp-append-version="true"></script>
    <script src="~/js/services/product-service.js" asp-append-version="true"></script>
    <script src="~/admin/js/features/check-box.component.js" asp-append-version="true"></script>
    <script src="~/admin/js/features/group-check-box.component.js" asp-append-version="true"></script>
}

