@{
    ViewBag.Title = "Thêm mới sản phẩm";
}<div class="ui-breadcrumbs">
    <a href="/admin/product">
        <span class="ui-breadcrumb__item"> < Quay lại danh sách sản phẩm </span>
    </a>
</div>
<div class="row" v-if="product != null">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <h4 class="card-title">@ViewBag.Title</h4>
            <div class="card-body">
                <form class="forms-sample" id="product-form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="product-name" class="col-sm-3 col-form-label">Tên sản phẩm</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="product-name" v-model="product.productName" required :disabled="isEdit">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="price" class="col-sm-3 col-form-label">Giá sản phẩm</label>
                                <div class="col-sm-9">
                                    @*<p>Giá nhập vào</p>
                                        <input type="email" class="form-control" id="email" v-model="operator.Email" required>
                                        <p>Giá bán ra</p>*@
                                    <input type="number" class="form-control" id="price" v-model="product.price" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="catagory" class="col-sm-3 col-form-label">Loại sản phẩm</label>
                                <div class="col-sm-9">
                                    <template>
                                        <v-select v-model="product.categoryId"
                                                  :options="productCatagories"
                                                  :reduce="item => item.id"
                                                  label="name">
                                        </v-select>
                                    </template>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="brand" class="col-sm-3 col-form-label">Nhãn hiệu</label>
                                <div class="col-sm-9">
                                    <template>
                                        <v-select v-model="product.productBrandId"
                                                  :options="productBrands"
                                                  :reduce="item => item.id"
                                                  label="name">
                                        </v-select>
                                    </template>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="product-status" class="col-sm-3 col-form-label">Trạng thái</label>
                                <div class="col-sm-9">
                                    <template>
                                        <v-select v-model="product.productStatusId"
                                                  :options="productStatuses"
                                                  :reduce="item => item.id"
                                                  label="name">
                                        </v-select>
                                    </template>
                                </div>

                            </div>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Màu sắc</th>
                                        <th scope="col">Giá<button type="button" class="btn btn-default" v-on:click="addNewColor">Thêm</button></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in product.productColors">
                                        <th scope="row"></th>
                                        <td>
                                            <v-select v-model="item.colorId"
                                                      :options="colors"
                                                      :reduce="item => item.id"
                                                      label="name">
                                            </v-select>
                                        </td>
                                        <td><input type="number" class="form-control" id="price" v-model="item.price" required></td>
                                        <td><button class="btn btn-default" v-on:click="deleteColor(item)">Xóa</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group row">
                                <label for="product-image-url" class="col-sm-3 col-form-label">Thumbnail</label>
                                <div class="col-sm-9">
                                    <upload-file :origin-url="product.thumnailUrl"
                                                 :object-type="'product'"
                                                 @@on-upload-completed="onUploadedThumbnailImage"></upload-file>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="product-image-url" class="col-sm-3 col-form-label">Slider</label>
                                <div class="col-sm-9">


                                    <upload-files :origin-urls="product.sliderImages"
                                                  :object-type="'product'"
                                                  @@on-upload-completed="onUploadedSliderImages"></upload-files>


                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-3 col-form-label">Thêm mô tả</label>
                                <div class="col-sm-9">
                                    <textarea rows="4" cols="40"
                                              class="form-control" id="description" v-model="product.description" required>
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <error-list :errors="errors"></error-list>
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <button type="button" v-on:click="onClickUpdate" class="btn btn-primary btn-sm">
                                        Lưu thay đổi
                                    </button>
                                    <button type="button" @@click="onClickBtnGotoList" class="btn btn-light btn-icon-prepend btn-sm">
                                        <i class="fa fa-arrow-left"></i>
                                        Trở lại danh sách
                                    </button>
                                    <button type="button" v-on:click="onClickAddNew" class="btn btn-light btn-icon-prepend btn-sm" v-if="product.ProductId!==0">
                                        <i class="fa fa-plus"></i>
                                        Tạo mới
                                    </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <h4 class="card-title">Tồn kho</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Chi nhánh</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Màu sắc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(stock, index) in product.availableStocks">
                                    <th scope="row">{{index+1}}</th>
                                    <td style="float:left">{{stock.branchName}}</td>
                                    <td>{{stock.stock}}</td>
                                    <td>{{stock.colorName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/services/populate.service.js" asp-append-version="true"></script>
    <script src="~/admin/js/features/check-box.component.js"></script>
    <script src="~/admin/js/features/group-check-box.component.js"></script>
    <script src="~/js/services/product-service.js" asp-append-version="true"></script>
    <script src="~/js/services/upload-file.service.js" asp-append-version="true"></script>
    <script src="~/admin/js/features/upload-files.component.js" asp-append-version="true"></script>
    <script src="~/admin/js/features/upload-file.component.js" asp-append-version="true"></script>

}

