<!-- ============================================== FEATURED PRODUCTS ============================================== -->
<div class="container">
    <section class="section featured-product wow fadeInUp">
        <h3 class="section-title">Sản phẩm tương tự</h3>
        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            <div v-for="(product, index) in similarProducts" class="item item-carousel">
                <product-item :product="product"></product-item>
            </div>
        </div>
        <!-- /.home-owl-carousel -->
    </section>
    <!-- /.section -->
</div>
<!-- ============================================== FEATURED PRODUCTS : END ============================================== -->