@{
    ViewBag.Title = "Thêm đơn hàng";
}<div class="ui-breadcrumbs">
    <a href="/admin/product">
        <span class="ui-breadcrumb__item"> < Quay lại danh sách đơn hàng </span>
    </a>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table id="order-table" class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã đơn hàng</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Trạng thái</th>
                            <th>Cập nhật trạng thái</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/services/populate.service.js" asp-append-version="true"></script>
    <script src="~/admin/js/features/check-box.component.js"></script>
    <script src="~/admin/js/features/group-check-box.component.js"></script>
}

