@{
    ViewBag.Title = "Cập nhập thông tin người dùng";
}
<div class="ui-breadcrumbs">
    <a href="/admin/operator">
        <span class="ui-breadcrumb__item"> < Quay lại danh sách người dùng</span>
    </a>
</div>
<div class="row" v-if="operator">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <h4 class="card-title">@ViewBag.Title</h4>
            <div class="card-body">
                <form class="forms-sample" id="operator-form">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="user-name" class="col-sm-3 col-form-label">Tên đăng nhập</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="user-name" v-model="operator.username" required :disabled="isEdit">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="date-of-birth" class="col-sm-3 col-form-label">Ngày sinh</label>
                                <div class="col-sm-9">
                                    <flat-pickr v-model="operator.dateOfBirth"
                                                :config="dateOptions.dateOfBirth"
                                                class="form-control"></flat-pickr>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="full-name" class="col-sm-3 col-form-label">Họ và tên</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="full-name" v-model="operator.fullname" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" v-model="operator.email" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    <input type="number" class="form-control" id="phone" v-model="operator.phone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-3 col-form-label">Địa chỉ</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="address" v-model="operator.address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="accountType" class="col-sm-3 col-form-label">Chức vụ</label>
                                <div class="col-sm-9">
                                    <template v-if="operator.accountTypeId===3">
                                        <v-select v-model="operator.accountTypeId" required :disabled="isEdit"
                                                  :options="operatorTypes"
                                                  :reduce="item => item.id"
                                                  label="name">
                                        </v-select>
                                    </template>
                                    <template v-else>
                                        <v-select v-model="operator.accountTypeId"
                                                  :options="operatorTypes"
                                                  :reduce="item => item.id"
                                                  label="name">
                                        </v-select>
                                    </template>
                                </div>
                            </div>
                            <div class="form-group row" v-if="operator.accountTypeId!==3">
                                <label for="branch" class="col-sm-3 col-form-label">Chi nhánh</label>
                                <div class="col-sm-9">
                                    <template>
                                        <v-select v-model="operator.branchId"
                                                  :options="operatorBranches"
                                                  :reduce="item => item.id"
                                                  label="name">
                                        </v-select>
                                    </template>
                                </div>
                            </div>
                            <div class="form-group row" v-if="operator.accountTypeId!==3">
                                <label for="operator-status-id" class="col-sm-3 col-form-label">Trạng thái</label>
                                <div class="col-sm-9">
                                    <template>
                                        <v-select v-model="operator.accountStatusId"
                                                  :options="operatorStatuses"
                                                  :reduce="item => item.id"
                                                  label="name">
                                        </v-select>
                                    </template>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label">Mật khẩu</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="password" v-model="operator.password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confirmed-password" class="col-sm-3 col-form-label">Xác nhận mật khẩu</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="confirmed-password" v-model="operator.confirmedPassword">
                                </div>
                            </div>



                            <div class="form-group col-md-12 row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <error-list :errors="errors"></error-list>
                                </div>
                            </div>
                            <div class="form-group col-md-12 row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <button type="button" v-on:click="onClickUpdate" class="btn btn-primary btn-sm">
                                        Lưu thay đổi
                                    </button>
                                    <button type="button" @@click="onClickBtnGotoList" class="btn btn-light btn-icon-prepend btn-sm">
                                        <i class="fa fa-arrow-left"></i>
                                        Trở lại danh sách
                                    </button>
                                    <button type="button" v-on:click="onClickAddNew" class="btn btn-light btn-icon-prepend btn-sm" v-if="operator.OperatorId!==0">
                                        <i class="fa fa-plus"></i>
                                        Tạo mới
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md-5 grid-margin stretch-card" v-if="operator.accountTypeId===3">
        <div class="card">
            <h4 class="card-title">Tạo Voucher</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="user-name" class="col-sm-3 col-form-label">Mã KH:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="id" v-model="operator.id" required :disabled="isEdit">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user-name" class="col-sm-3 col-form-label">Email nhận code:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="email" v-model="operator.email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="user-name" class="col-sm-3 col-form-label">Chiết khấu</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="discount" v-model="operator.discount" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12 row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <button type="button" v-on:click="onClickCreateVoucher" class="btn btn-primary btn-sm">
                                    <i class="fa fa-plus"></i>
                                    Tạo
                                </button>
                                <button type="button" v-on:click="onClickCancel" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>
                                    Hủy
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 grid-margin stretch-card" v-if="operator.accountTypeId!==3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Danh sách Quyền</h4>
                <group-check-box :options="privileges"></group-check-box>
                <button type="button" v-on:click="onClickUpdatePrivilege" class="btn btn-primary btn-sm">
                    Lưu thay đổi
                </button>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script src="~/js/services/populate.service.js" asp-append-version="true"></script>
    <script src="~/admin/js/features/check-box.component.js"></script>
    <script src="~/admin/js/features/group-check-box.component.js"></script>
}

