<!-- ============================================== INFO BOXES ============================================== -->
<div class="container">

    <div class="info-boxes wow fadeInUp">
        <div class="info-boxes-inner">
            <div class="row">
                <div class="col-md-6 col-sm-4 col-lg-4">
                    <div class="info-box">
                        <div class="icon-img"><i class="fa fa-credit-card"></i></div>
                        <div class="icon-text">
                            <h4 class="info-box-heading green">Đảm Bảo Hoàn Tiền</h4>
                            <h6 class="text">Đảm Bảo Hoàn Tiền Trong 30 Ngày</h6>
                        </div>
                    </div>
                </div>
                <!-- .col -->

                <div class="hidden-md col-sm-4 col-lg-4">
                    <div class="info-box">

                        <div class="icon-img"> <i class="fa fa-truck"></i></div>
                        <div class="icon-text">

                            <h4 class="info-box-heading green">Vận Chuyển & Trả Lại Miễn Phí</h4>

                            <h6 class="text">Giao Hàng Tận Nơi Cho Khách Hàng</h6>
                        </div>
                    </div>
                </div>
                <!-- .col -->

                <div class="col-md-6 col-sm-4 col-lg-4">
                    <div class="info-box last">
                        <div class="icon-img"><i class="fa fa-life-ring"></i></div>
                        <div class="icon-text">
                            <h4 class="info-box-heading green">Hỗ Trợ Trực Tuyến</h4>

                            <h6 class="text">Gọi Cho Chúng Tôi 01678 311 160</h6>
                        </div>
                    </div>
                </div>
                <!-- .col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.info-boxes-inner -->

    </div>
    <!-- /.info-boxes -->
</div>
<!-- ============================================== INFO BOXES : END ============================================== -->