<div class="bestsellers1">
    <div class="bestseller">
        <div class="container">
            <div>

                <div class="category-product">
                    <div class="new_title">
                        <h2>Bán Chạy Nhất</h2>
                    </div>
                </div>

                <div class="product-bestseller row">
                    <div class="product-bestseller-content">
                        <div class="col-md-6 col-xs-12 hot-deal-box">
                            <div v-for="(product, index) in sellingProducts.slice(0,1)" class="hot-deal">
                                <product-selling-item :product="product"></product-selling-item>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 por-tabs">

                            <ul class="nav navbar-nav">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Xe côn tay</a></li>
                                <li><a data-toggle="tab" href="#tab-2">Xe tay ga</a></li>
                                <li><a data-toggle="tab" href="#tab-3">Xe số</a></li>
                            </ul>

                            <div class="product-bestseller-list">
                                <div class="tab-container">
                                    <!-- tab product -->
                                    <div class="tab-panel active" id="tab-1">
                                        <div class="category-products">
                                            <ul class="products-grid">
                                                <li v-for="(product, index) in productByCategory.filter((x) => x.categoryId == 3).slice(0,6)" class="item col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                                                    <product-category-item :product="product"></product-category-item>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- tab product -->
                                    <div class="tab-panel" id="tab-2">
                                        <div class="category-products">
                                            <ul class="products-grid">
                                                <li v-for="(product, index) in productByCategory.filter((x) => x.categoryId == 2).slice(0,6)" class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <product-category-item :product="product"></product-category-item>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-panel" id="tab-3">
                                        <div class="category-products">
                                            <div class="category-products">
                                                <ul class="products-grid">
                                                    <li v-for="(product, index) in productByCategory.filter((x) => x.categoryId == 1).slice(0,6)" class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <product-category-item :product="product"></product-category-item>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>