<div class="bestsellers1">
    <div class="bestseller">
        <div class="container">
            <div>

                <div class="category-product">
                    <div class="new_title">
                        <h2>Bán Chạy Nhất</h2>
                    </div>
                </div>

                <div class="product-bestseller row">
                    <div class="product-bestseller-content">
                        <div class="col-md-6 col-xs-12 hot-deal-box">
                            <div class="hot-deal">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <div class="link-quickview"><a href="#" class="quick-view"><i class="fa fa-eye"></i></a></div>
                                                <div class="product-cartitem">1</div>
                                                <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p20.jpg" alt=""> </a>


                                                <div class="box-timer">
                                                    <div class="countbox_2 timer-grid"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                <div class="rating rateit-small"></div>
                                                <div class="product-item-description">You won't know what you like best about the Antonia Racer Tank: soft, stretchy,  Super-cute...</div>
                                                <div class="item-content">
                                                    <div class="item-price">
                                                        <div class="price-box">
                                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $156.00 </span> </p>
                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="quantity-adder">
                                                    <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="fa fa-minus">&nbsp;</i></button>
                                                    <input type="text" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                                                    <button onClick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="fa fa-plus">&nbsp;</i></button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 por-tabs">


                            <ul class="nav navbar-nav">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Xe côn tay</a></li>
                                <li><a data-toggle="tab" href="#tab-2">Xe tay ga</a></li>
                                <li><a data-toggle="tab" href="#tab-3">Xe số</a></li>
                            </ul>

                            <div class="product-bestseller-list">
                                <div class="tab-container">
                                    <!-- tab product -->
                                    <div class="tab-panel active" id="tab-1">
                                        <div class="category-products">
                                            <ul class="products-grid">
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="product-cartitem">1</div>
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p6.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $156.00 </span> </p>
                                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div style=" display:none;" class="product-cartitem">0</div>
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p7.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div style=" display:none;" class="product-cartitem">0</div>
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p8.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div style=" display:none;" class="product-cartitem">0</div>
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p9.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div style=" display:none;" class="product-cartitem">0</div>
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p10.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div style=" display:none;" class="product-cartitem">0</div>
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p14.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- tab product -->
                                    <div class="tab-panel" id="tab-2">
                                        <div class="category-products">
                                            <ul class="products-grid">
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p2.jpg" alt=""> </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $156.00 </span> </p>
                                                                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p1.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>


                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p2.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p4.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p3.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p7.jpg" alt=""> </a>

                                                        </div>
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-panel" id="tab-3">
                                        <div class="category-products">
                                            <div class="category-products">
                                                <ul class="products-grid">
                                                    <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="item-inner">
                                                            <div class="item-img">

                                                                <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p11.jpg" alt=""> </a>

                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box">
                                                                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> $156.00 </span> </p>
                                                                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> $167.00 </span> </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="item-inner">
                                                            <div class="item-img">
                                                                <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p15.jpg" alt=""> </a>

                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>


                                                    <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="item-inner">
                                                            <div class="item-img">
                                                                <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p9.jpg" alt=""> </a>

                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="item-inner">
                                                            <div class="item-img">

                                                                <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p10.jpg" alt=""> </a>

                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="item-inner">
                                                            <div class="item-img">

                                                                <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p5.jpg" alt=""> </a>

                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="item-inner">
                                                            <div class="item-img">

                                                                <a class="product-image" title="Retis lapen casen" href="product_detail.html"> <img src="assets/images/products/p3.jpg" alt=""> </a>

                                                            </div>
                                                            <div class="item-info">
                                                                <div class="info-inner">
                                                                    <div class="item-title"> <a title="Retis lapen casen" href="product_detail.html">Floral Print shirt Buttoned</a> </div>
                                                                    <div class="item-content">
                                                                        <div class="item-price">
                                                                            <div class="price-box"> <span class="regular-price"> <span class="price">$155.00</span> </span> </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>